body{
    background-color: rgb(73, 21, 248);
    color: white;
    margin: 0;
    font-family: Arial;
}
.section-1 {
    background-color: rgb(73, 21, 248);
    display: flex;
    flex-direction: row;
    

}
.section-2 {
    background-color: rgb(73, 21, 248);
    display: flex;
    flex-direction: row;
    margin-left: 100px;
   
}

input[type="button"] {
    padding: 5px 10px;
    border: 0px;
    border-radius: 10px;
    background-color: rgb(255, 123, 0); color: white;
    
}
a:active {
    color: white;
}

a:hover {
    color: #999;
}